.inp{
    margin-left: 40px !important;
    margin-right: 40px !important;
    
}
#inp{
    margin-left: 30px !important;
    margin-right: 0px !important;
    width: 200px !important;

}
.main-form{
    /* width: 300px !important; */
}